﻿@cardBorderRadius : 10px;
@yellow : #EDC740;
@lightYellow : #fce37d;

@blue : #4679BD;
@backgroundColour: #354458;

body {
	background: @backgroundColour;

	background: #354458;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
	color: #FFF; 
    line-height: 1.428;
}

a {
	text-decoration: none;
    color: @yellow;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.dropdown {
    padding: 5px;
}

.max-width-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;

    @media screen and (min-width:960px) {
        width: 960px;
    }
}

.yellow-link {
    color: @yellow;
    cursor: pointer;
}

/* Some default stuff */
.overflow-container {
    overflow: hidden;
}

.validation-summary-errors {
    text-align: center;
    color: @yellow;
    font-weight: bold;
}

/* Layout */
.center-container {
    text-align: center;
    width: 960px;
    margin: 0 auto;
}

.header-container {
    background: @blue;
    padding: 10px;
    line-height: 75px;
    margin-bottom: 15px;
    .overflow-container;

    .navigation {
        li {
            float: left;
            margin: 0 10px;
            font-size: 20px; 
        }
    }

    .user-status {
        float: right;
    }

    img {
        float: left;
        width: 55px;
    }    
}

/* Homepage */
.homepage-container {
    text-align: center;

    h1 {
        font-size: 36px;
        font-weight: bold;
    }

    .lead {
        color: @yellow;
        font-style: italic;
    }

    .homepage-image {
        width: 200px;
        margin: 10px 0;
    }

    .row {
        .overflow-container;
        max-width: 960px;
        margin: 25px auto 0 auto;

        .col {
            width: 32%;
            margin-left: 1%;
            float: left;

            h2 {
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
    }
}

/* Login Styles */
.login-container {
    padding-top: 50px;

    .login-form {
        margin: 0 auto;
        width: 300px;

        .label {
            display: block;
            margin-top: 10px;
            margin-bottom: 5px;
            text-align: center;
        }

        .textbox {
            padding: 5px;
            display: block;
            width: 100%;
        }

        .login-button {
          display: block;
          background: #edc740;
          color: #fff;
          width: 60%;
          height: 30px;
          text-align: center;
          line-height: 20px;
          box-sizing: border-box;
          border: 0;
          padding: 0;
          margin: 10px auto;
        }

        p {
            text-align: center;
        }
    }
}

.deck-select
{
    display: block;
    background: #edc740;
    color: #fff;
    width: 200px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin: 0 auto;
    margin-top: 15px;
}

/* Game Styles */
.homeCards {
	.card1 {
		position: absolute;
		left: 20px;
		top: 10%;
		-ms-transform: rotate(-4deg);
		-webkit-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}

	.card2 {
		position: absolute;
		left: 200px;
		top: 5%;
		-ms-transform: rotate(2deg);
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
}

.menu {
	float: right;
	margin: auto 40px;
}

.matchmaking{
    .timeout {
        display: none;
    }

    .matchMakingStatus {
	    margin: 30px 20px;
	    font-size: 40px;
	    text-align: center;

        .timeout {
            display: block;
        }
    }    

    .cancelButton {
	    font-size: 24px;
	    color: @yellow;
	    text-align: center;
        display: block;
        margin: 0 auto;
    }
}

.hud {
	display: none;
	position: absolute;
    top: 0;
    padding-top: 30px;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;

	.text {
		color: @yellow;
		font-size: 90px;
		font-weight: bolder;
		text-align: center;
		-webkit-text-stroke: 3px WHITE;
        text-align: center;
        margin-top: 15%;
	}

	.star1 {
		@starOneWidth : 350px;
		@starOneHeight : 700px;

		width: @starOneWidth;
		height: @starOneHeight;
		position: fixed;
		bottom: -@starOneHeight;
		left: 20px;
		background-image: url("../../content/images/star1.png");
		background-size: @starOneWidth @starOneHeight;
    	background-repeat: no-repeat;

    	-webkit-transition: 1s ease-in-out;
	    -moz-transition: 1s ease-in-out;
	    -o-transition: 1s ease-in-out;
	    transition: 1s ease-in-out;	   
	}

	.star2 {
		@starTwoWidth : 350px;
		@starTwoHeight : 700px;

		width: @starTwoWidth;
		height: @starTwoHeight;
		position: fixed;
		bottom: -@starTwoHeight;
		right: 20px;
		margin: 80px 10px 0 0;
		background-image: url("../../content/images/star2.png");
		background-size: @starTwoWidth @starTwoHeight;
    	background-repeat: no-repeat;

    	-webkit-transition: 1.75s ease-in-out;
	    -moz-transition: 1.75s ease-in-out;
	    -o-transition: 1.75s ease-in-out;
	    transition: 1.75s ease-in-out;	  
	}

    .rematch-text {
        display: block;
        -webkit-text-stroke: 0;
        color: #fff;
        font-size: 26px;
    }
}

.star1.animate {
	-webkit-transform: translate(-20px, -500px);
    -moz-transform: translate(-20px, -500px);
    -o-transform: translate(-20px, -500px);
    -ms-transform: translate(-20px, -500px);
    transform: translate(-20px, -500px);
}

.star2.animate {
	-webkit-transform: translate(60px, -600px);
    -moz-transform: translate(60px, -600px);
    -o-transform: translate(60px, -600px);
    -ms-transform: translate(60px, -600px);
    transform: translate(60px, -600px);
}

.homeButton {
	width: 60px;
	height: 60px;
	float: right;
	margin: 23px 20px 10px 10px;
	background-image: url("../images/homeIcon.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.move {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 150px;
    background: @blue;
    color: #fff;
    border: 2px solid @lightYellow;
}

.move.current {
    background: @yellow !important;
}

.gameStatus {
	margin: 30px 20px;
	font-size: 30px;
    text-align: center;
}

.board {
	z-index: auto;
	width: 735px;
    margin: 40px auto 20px auto;
    position: relative;

    .overflow-container;

    .peek-container {
        display: none;
        text-align: center;
        font-size: 18px;

        .peeks {
            color: @yellow;
        }

        .peek {
            background: @yellow;
            color: #fff;
            padding: 5px;
            border: 2px solid @lightYellow;
            width: 100px;
            margin: 0 auto;
            cursor: pointer;
        }

        .inactive {
            background: #ccc;
            border: 2px solid #333;
        }
    }
}

.card.preload {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.card {
	width: 320px;
	height: 520px;
	margin: 20px;
	float: left;
	z-index:3;

    font-size: 18px;

	border: 3px solid #FFF;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.75);
	box-shadow: 0px 0px 10px 0px rgba(50,50,50,0.75);
	border-radius: @cardBorderRadius;

	-webkit-transform: perspective(800);
	-webkit-perspective: 800;
	-ms-perspective: 800;
	-moz-perspective: 800;
	-o-perspective: 800;

	
	-webkit-transition: 0.75s;
	-moz-transition: 0.75s;
	-ms-transition: 0.75s;
	-o-transition: 0.75s;
	transition: 0.75s;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;

	.face {
		width: 100%;
		height: 100%;
		border-radius: @cardBorderRadius - 3;
		position: absolute;
		z-index: 2;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-o-backface-visibility: hidden;
		background-color: @yellow;
	}

    .face.back {
        cursor: not-allowed;
        text-align: center;
        color: @blue;
    }

    .face.back.playable {
        cursor: pointer;
		
		table.selectable {
			tr:hover {
				background-color:@lightYellow;
			}
		}
    }

	.front {
		background-color: @blue;

		.logo {
			margin-top: 30%;
			text-align: center;
			font-size: 50px;
			font-weight: bolder;
			color: @yellow;
			-webkit-text-stroke: 2px WHITE;
		}

		.deckName {
			margin-top: 20px;
			text-align: center;
			font-size: 25px;
			font-weight: bolder;
			color: @yellow;
			-webkit-text-stroke: 1px WHITE;
		}
	}

	.back {
		transform:rotatey(-180deg);
		-ms-transform:rotatey(-180deg);
		-moz-transform:rotatey(-180deg);
		-webkit-transform:rotatey(-180deg);
		-o-transform:rotatey(-180deg);

		position: absolute;
		z-index: 1;
	}

	header {
		width: 100%;
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			text-align: center;
			background-color: @blue;
			border-radius: (@cardBorderRadius - 1)  (@cardBorderRadius - 1) 0 0;
		}

		.titleContainer {
			position: absolute;
			bottom: 15%;
			left: 10%;
			width: 80%;
			text-align: center;

			.title {
				padding: 3%;
				background-color: @blue;
				color: #ffffff;
				font-size: 25px;
				line-height: 44px;
				z-index: 100;
				-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
				-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
				box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
			}
		}

		.slantedBlock {
			position: absolute;
			bottom: -20px;
			left: -20px;
			width: 400px;
			height: 40px;
			background-color: @yellow;
			-ms-transform: rotate(-4deg);
			-webkit-transform: rotate(-4deg);
			transform: rotate(-4deg);
			z-index: 2;
			-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.9);
			-moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.9);
			box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.9);
		}
	}

	.categories {
		overflow: hidden;
		padding:15px 0;

		table {
			width: 360px;
			margin-left: -20px;
			padding: 5px;
			border-width: 0;
			color: @blue;
			font-weight: bold;
			-ms-transform: rotate(-4deg);
			-webkit-transform: rotate(-4deg);
			transform: rotate(-4deg);

			tr {
				height: 25px;
			}

			tr.selected {
				background-color:@lightYellow;
			}

			th:first-child {
				text-align: right;
				width: 65%;
			}

			th:last-child {
				text-align: left;
				width: 35%;
				padding-left: 10px;
			}
		}
	}

	footer {
		width: 100%;
		height: 30px;
		position: absolute;
		bottom: 0;
		text-align: center;
		font-size: 18px;
	}
}

.card.stack1 {
	position: absolute;
	z-index: -1;
	background-color: #3379EA;
	-ms-transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	transform: rotate(-4deg);
}

.card.stack2 {
	position: absolute;
	z-index: -2;
	background-color: #3379EA;
	-ms-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
}

.score {
	width: 90px;
    position: absolute;
    right: 0;

	.card {
		width: 50px;
		height: 70px;
		position: relative;
		font-weight: bold;
		font-size: 30px;
		background-color: @blue;
		color: @yellow;
		text-align: center;
		-webkit-text-stroke: 1px WHITE;
        padding-top: 12px;
        box-sizing: border-box;
	}

	.username {
		text-align: center;
	}
}

.current-player {
    top: 340px;
}

.opposing-player {
    top: 475px;
}

.card.flipped {
	transform:rotatey(-180deg);
	-ms-transform:rotatey(-180deg);
	-moz-transform:rotatey(-180deg);
	-webkit-transform:rotatey(-180deg);
	-o-transform:rotatey(-180deg);
}

/* Chat */
.chat-container
{
    background: #aaa;
    position: absolute;
    bottom: 0;
    right: 0;
    /*z-index: 100;*/

    .chat-content {
        display: none;
    }

    .chat-title {
        background: #333;
        padding: 5px;
        .overflow-container;

        h3 {
            float: left;
            margin-right: 10px;
        }

        .close {
            float: right;
            cursor: pointer;
        }
    }

    .messages {
        color: #000;
        overflow-y: scroll;
        height: 200px;
        width: 225px;
        padding: 10px;

        .message {
            margin: 5px 0;
            span {
                display: block;
                font-weight: bold;
            }
        }
    }

    .input {
        .overflow-container;
        background: #fff;
        display: block;

        .chat-input {
            padding: 10px;
            float: left;
        }

        .send {
            float: left;
            background: #333;
            padding: 10px;
            cursor: pointer;
        }
    }
}

/* Leaderboard */
.leaderboard {
    width: 100%;
    text-align: center;

    th {
        font-weight: bold;
        padding: 15px;
    }

    tr:nth-child(even) {
        background: #6D95CA;
    }

    tr:nth-child(odd) {
        background: #4275B8;
    }

    tr:nth-child(2), tr:nth-child(4), tr:nth-child(3) {
        color: #333;

        a {
            color: #333;
        }
    }

    tr:nth-child(2), tr:nth-child(4) {
        background: @lightYellow;
    }

    tr:nth-child(3) {
        background: @yellow;
    }

    td {
        padding: 8px;
    }

    .challenge-container {
        display: none;
    }
}

.search-container {
    h3 {
        display: block;
        text-align: center;
    }

    .search {
        width: 100%;
        margin: 10px 0;
        display: block;
        padding: 10px;
        box-sizing: border-box;
    }
}

/* Private Match */
.private-game {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;

    h1 {
        font-size: 45px;
    }

    .bit-link {
        padding: 10px;
        text-align: center;
        font-size: 16px;
        margin: 10px 0;
    }

    .play-game {
        background: @yellow;
        border: 2px solid @lightYellow;
        padding: 5px;
        width: 150px;
        margin: 0 auto;
        cursor: pointer;
    }
}

.error {
    font-size: 18px;

    h1 {
        font-size: 28px;
        color: @yellow;
    }

    .error-joel {
        position: fixed;
        bottom:0;
        margin: 0 auto;
    }
}

.deckDisplay{

    .deckHeader{
        margin-left: 20px;
        margin-bottom: 20px;

        h1{
            font-size: 40px;
        }

        .deckHeaderLink {
            margin-left: 2px;
        }
    }

    .deckCards{
        width:100%;
    }

    .card {
        background-color: #edc740;

        .deckName {
            margin-top: 10px;
            padding:0px 4px;
            text-align: center;
            font-size: 48px;
            font-weight: bolder;
            color: #EDC740;
            -webkit-text-stroke: 1.2px WHITE;
            background-color: #4679bd
        }

        header img{
            width:320px;
            height:320px;
            border-radius:9px;
        }

    }
    
    .deckThumb{
        height:auto;
    }

    .deckThumb header{
        height:320px;
    }
 
}