﻿body {
  background: #354458;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #FFF;
  line-height: 1.428;
}
a {
  text-decoration: none;
  color: #edc740;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.dropdown {
  padding: 5px;
}
.max-width-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}
@media screen and (min-width: 960px) {
  .max-width-container {
    width: 960px;
  }
}
.yellow-link {
  color: #edc740;
  cursor: pointer;
}
/* Some default stuff */
.overflow-container {
  overflow: hidden;
}
.validation-summary-errors {
  text-align: center;
  color: #edc740;
  font-weight: bold;
}
/* Layout */
.center-container {
  text-align: center;
  width: 960px;
  margin: 0 auto;
}
.header-container {
  background: #4679bd;
  padding: 10px;
  line-height: 75px;
  margin-bottom: 15px;
  overflow: hidden;
}
.header-container .navigation li {
  float: left;
  margin: 0 10px;
  font-size: 20px;
}
.header-container .user-status {
  float: right;
}
.header-container img {
  float: left;
  width: 55px;
}
/* Homepage */
.homepage-container {
  text-align: center;
}
.homepage-container h1 {
  font-size: 36px;
  font-weight: bold;
}
.homepage-container .lead {
  color: #edc740;
  font-style: italic;
}
.homepage-container .homepage-image {
  width: 200px;
  margin: 10px 0;
}
.homepage-container .row {
  overflow: hidden;
  max-width: 960px;
  margin: 25px auto 0 auto;
}
.homepage-container .row .col {
  width: 32%;
  margin-left: 1%;
  float: left;
}
.homepage-container .row .col h2 {
  font-weight: bold;
  margin-bottom: 5px;
}
/* Login Styles */
.login-container {
  padding-top: 50px;
}
.login-container .login-form {
  margin: 0 auto;
  width: 300px;
}
.login-container .login-form .label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
}
.login-container .login-form .textbox {
  padding: 5px;
  display: block;
  width: 100%;
}
.login-container .login-form .login-button {
  display: block;
  background: #edc740;
  color: #fff;
  width: 60%;
  height: 30px;
  text-align: center;
  line-height: 20px;
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 10px auto;
}
.login-container .login-form p {
  text-align: center;
}
.deck-select {
  display: block;
  background: #edc740;
  color: #fff;
  width: 200px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin: 0 auto;
  margin-top: 15px;
}
/* Game Styles */
.homeCards .card1 {
  position: absolute;
  left: 20px;
  top: 10%;
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.homeCards .card2 {
  position: absolute;
  left: 200px;
  top: 5%;
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}
.menu {
  float: right;
  margin: auto 40px;
}
.matchmaking .timeout {
  display: none;
}
.matchmaking .matchMakingStatus {
  margin: 30px 20px;
  font-size: 40px;
  text-align: center;
}
.matchmaking .matchMakingStatus .timeout {
  display: block;
}
.matchmaking .cancelButton {
  font-size: 24px;
  color: #edc740;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.hud {
  display: none;
  position: absolute;
  top: 0;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.hud .text {
  color: #edc740;
  font-size: 90px;
  font-weight: bolder;
  -webkit-text-stroke: 3px WHITE;
  text-align: center;
  margin-top: 15%;
}
.hud .star1 {
  width: 350px;
  height: 700px;
  position: fixed;
  bottom: -700px;
  left: 20px;
  background-image: url("../../content/images/star1.png");
  background-size: 350px 700px;
  background-repeat: no-repeat;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.hud .star2 {
  width: 350px;
  height: 700px;
  position: fixed;
  bottom: -700px;
  right: 20px;
  margin: 80px 10px 0 0;
  background-image: url("../../content/images/star2.png");
  background-size: 350px 700px;
  background-repeat: no-repeat;
  -webkit-transition: 1.75s ease-in-out;
  -moz-transition: 1.75s ease-in-out;
  -o-transition: 1.75s ease-in-out;
  transition: 1.75s ease-in-out;
}
.hud .rematch-text {
  display: block;
  -webkit-text-stroke: 0;
  color: #fff;
  font-size: 26px;
}
.star1.animate {
  -webkit-transform: translate(-20px, -500px);
  -moz-transform: translate(-20px, -500px);
  -o-transform: translate(-20px, -500px);
  -ms-transform: translate(-20px, -500px);
  transform: translate(-20px, -500px);
}
.star2.animate {
  -webkit-transform: translate(60px, -600px);
  -moz-transform: translate(60px, -600px);
  -o-transform: translate(60px, -600px);
  -ms-transform: translate(60px, -600px);
  transform: translate(60px, -600px);
}
.homeButton {
  width: 60px;
  height: 60px;
  float: right;
  margin: 23px 20px 10px 10px;
  background-image: url("../images/homeIcon.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.move {
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 150px;
  background: #4679bd;
  color: #fff;
  border: 2px solid #fce37d;
}
.move.current {
  background: #edc740 !important;
}
.gameStatus {
  margin: 30px 20px;
  font-size: 30px;
  text-align: center;
}
.board {
  z-index: auto;
  width: 735px;
  margin: 40px auto 20px auto;
  position: relative;
  overflow: hidden;
}
.board .peek-container {
  display: none;
  text-align: center;
  font-size: 18px;
}
.board .peek-container .peeks {
  color: #edc740;
}
.board .peek-container .peek {
  background: #edc740;
  color: #fff;
  padding: 5px;
  border: 2px solid #fce37d;
  width: 100px;
  margin: 0 auto;
  cursor: pointer;
}
.board .peek-container .inactive {
  background: #ccc;
  border: 2px solid #333;
}
.card.preload {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.card {
  width: 320px;
  height: 520px;
  margin: 20px;
  float: left;
  z-index: 3;
  font-size: 18px;
  border: 3px solid #FFF;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
  border-radius: 10px;
  -webkit-transform: perspective(800);
  -webkit-perspective: 800;
  -ms-perspective: 800;
  -moz-perspective: 800;
  -o-perspective: 800;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -ms-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card .face {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  position: absolute;
  z-index: 2;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  background-color: #edc740;
}
.card .face.back {
  cursor: not-allowed;
  text-align: center;
  color: #4679bd;
}
.card .face.back.playable {
  cursor: pointer;
}
.card .face.back.playable table.selectable tr:hover {
  background-color: #fce37d;
}
.card .front {
  background-color: #4679bd;
}
.card .front .logo {
  margin-top: 30%;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  color: #edc740;
  -webkit-text-stroke: 2px WHITE;
}
.card .front .deckName {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  color: #edc740;
  -webkit-text-stroke: 1px WHITE;
}
.card .back {
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg);
  position: absolute;
  z-index: 1;
}
.card header {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.card header img {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #4679bd;
  border-radius: 9px 9px 0 0;
}
.card header .titleContainer {
  position: absolute;
  bottom: 15%;
  left: 10%;
  width: 80%;
  text-align: center;
}
.card header .titleContainer .title {
  padding: 3%;
  background-color: #4679bd;
  color: #ffffff;
  font-size: 25px;
  line-height: 44px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.card header .slantedBlock {
  position: absolute;
  bottom: -20px;
  left: -20px;
  width: 400px;
  height: 40px;
  background-color: #edc740;
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
  z-index: 2;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.9);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.9);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.9);
}
.card .categories {
  overflow: hidden;
  padding: 15px 0;
}
.card .categories table {
  width: 360px;
  margin-left: -20px;
  padding: 5px;
  border-width: 0;
  color: #4679bd;
  font-weight: bold;
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.card .categories table tr {
  height: 25px;
}
.card .categories table tr.selected {
  background-color: #fce37d;
}
.card .categories table th:first-child {
  text-align: right;
  width: 65%;
}
.card .categories table th:last-child {
  text-align: left;
  width: 35%;
  padding-left: 10px;
}
.card footer {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-size: 18px;
}
.card.stack1 {
  position: absolute;
  z-index: -1;
  background-color: #3379EA;
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.card.stack2 {
  position: absolute;
  z-index: -2;
  background-color: #3379EA;
  -ms-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}
.score {
  width: 90px;
  position: absolute;
  right: 0;
}
.score .card {
  width: 50px;
  height: 70px;
  position: relative;
  font-weight: bold;
  font-size: 30px;
  background-color: #4679bd;
  color: #edc740;
  text-align: center;
  -webkit-text-stroke: 1px WHITE;
  padding-top: 12px;
  box-sizing: border-box;
}
.score .username {
  text-align: center;
}
.current-player {
  top: 340px;
}
.opposing-player {
  top: 475px;
}
.card.flipped {
  transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg);
}
/* Chat */
.chat-container {
  background: #aaa;
  position: absolute;
  bottom: 0;
  right: 0;
  /*z-index: 100;*/
}
.chat-container .chat-content {
  display: none;
}
.chat-container .chat-title {
  background: #333;
  padding: 5px;
  overflow: hidden;
}
.chat-container .chat-title h3 {
  float: left;
  margin-right: 10px;
}
.chat-container .chat-title .close {
  float: right;
  cursor: pointer;
}
.chat-container .messages {
  color: #000;
  overflow-y: scroll;
  height: 200px;
  width: 225px;
  padding: 10px;
}
.chat-container .messages .message {
  margin: 5px 0;
}
.chat-container .messages .message span {
  display: block;
  font-weight: bold;
}
.chat-container .input {
  overflow: hidden;
  background: #fff;
  display: block;
}
.chat-container .input .chat-input {
  padding: 10px;
  float: left;
}
.chat-container .input .send {
  float: left;
  background: #333;
  padding: 10px;
  cursor: pointer;
}
/* Leaderboard */
.leaderboard {
  width: 100%;
  text-align: center;
}
.leaderboard th {
  font-weight: bold;
  padding: 15px;
}
.leaderboard tr:nth-child(even) {
  background: #6D95CA;
}
.leaderboard tr:nth-child(odd) {
  background: #4275B8;
}
.leaderboard tr:nth-child(2),
.leaderboard tr:nth-child(4),
.leaderboard tr:nth-child(3) {
  color: #333;
}
.leaderboard tr:nth-child(2) a,
.leaderboard tr:nth-child(4) a,
.leaderboard tr:nth-child(3) a {
  color: #333;
}
.leaderboard tr:nth-child(2),
.leaderboard tr:nth-child(4) {
  background: #fce37d;
}
.leaderboard tr:nth-child(3) {
  background: #edc740;
}
.leaderboard td {
  padding: 8px;
}
.leaderboard .challenge-container {
  display: none;
}
.search-container h3 {
  display: block;
  text-align: center;
}
.search-container .search {
  width: 100%;
  margin: 10px 0;
  display: block;
  padding: 10px;
  box-sizing: border-box;
}
/* Private Match */
.private-game {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}
.private-game h1 {
  font-size: 45px;
}
.private-game .bit-link {
  padding: 10px;
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}
.private-game .play-game {
  background: #edc740;
  border: 2px solid #fce37d;
  padding: 5px;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
}
.error {
  font-size: 18px;
}
.error h1 {
  font-size: 28px;
  color: #edc740;
}
.error .error-joel {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
}
.deckDisplay .deckHeader {
  margin-left: 20px;
  margin-bottom: 20px;
}
.deckDisplay .deckHeader h1 {
  font-size: 40px;
}
.deckDisplay .deckHeader .deckHeaderLink {
  margin-left: 2px;
}
.deckDisplay .deckCards {
  width: 100%;
}
.deckDisplay .card {
  background-color: #edc740;
}
.deckDisplay .card .deckName {
  margin-top: 10px;
  padding: 0px 4px;
  text-align: center;
  font-size: 48px;
  font-weight: bolder;
  color: #EDC740;
  -webkit-text-stroke: 1.2px WHITE;
  background-color: #4679bd;
}
.deckDisplay .card header img {
  width: 320px;
  height: 320px;
  border-radius: 9px;
}
.deckDisplay .deckThumb {
  height: auto;
}
.deckDisplay .deckThumb header {
  height: 320px;
}
/*# sourceMappingURL=site.css.map */