﻿@model JTT.WebApplication.Models.GameModel

@{
    ViewBag.Title = "Play Game";
}

<div class="move">
    Waiting
</div>

<div class="gameStatus">Welome to Top Trumps! Connecting to your opponent...</div>

<div class="score current-player">
    <div class="card">
        <span class="card-count">~</span>
    </div>
    <div class="username">You</div>
</div>

<div class="score opposing-player">
    <div class="card">
        <span class="card-count">~</span>
    </div>
    <div class="username">Opponent</div>
</div>

<div class="board">
    <div class="playersStack">
        <div class="card stack1"></div>
        <div class="card stack2"></div>
        <div class="flippable">
            <div class="card">
                <div class="face front">
                    <div class="logo">Top<br />Trumps</div>
                    <div class="deckName">@Model.DeckName</div>
                </div>
                <div id="CardBack" class="face back"></div>
            </div>
        </div>
    </div>
    <div class="flippable">
        <div class="card">
            <div class="face front">
                <div class="logo">Top<br />Trumps</div>
                <div class="deckName">@Model.DeckName</div>
            </div>
            <div id="OpponentCardBack" class="face back">No cheating ;)</div>
        </div>
    </div>
    
    <div class="peek-container">
        You have <span class="peeks">3</span> peeks to use!
        <div class="peek">
            Use
        </div>
    </div>
</div>


<div class="hud">
    <div class="star star1"></div>
    <div class="text">
        <span class="rematch-text">
            @Html.ActionLink("Rematch", "SeekMatch", "Matchmaking", new { id = @Model.DeckId }, new { @class = "yellow-link" }) with same deck,
            <br />
            play with a different @Html.ActionLink("Deck", "Index", "Deck", null, new { @class = "yellow-link" }) or
            <br/>
            go @Html.ActionLink("Home", "Index", "Home", null, new { @class = "yellow-link" })?
        </span>
    </div>
    <div class="star star2"></div>
</div>

<div class="chat-container">
    <div class="chat-title">
        <h3>Chat</h3>
        <span class="close">--</span>
    </div>
    <div class="chat-content">
        <div class="messages"></div>
        <div class="input">
            @Html.TextBox("ChatInput", null, new { @class = "chat-input" })
            <div class="send">Send</div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render(BundleConfig.TopTrumpsScripts)
    @Scripts.Render(BundleConfig.TopTrumpsScripts)
}

<script type="text/javascript">
    $(function () {
        //Set up various variables containing information about the game, etc
        userId = "@Model.UserId";
        gameId = "@Model.GameId";
        deckId = "@Model.DeckId";

        //Get a reference to the top trumps hub
        var topTrumpsHub = $.connection.topTrumpsHub;

        $(".close").click(function () {
            $(".chat-content").toggle(500);
        });

        //Start the connection to the hub
        $.connection.hub.start().done(function () {
            //Have a small delay before establishing a connection to the server
            setTimeout(function () {
                //Establish a connection to the game hub
                topTrumpsHub.server.establishConnection(gameId, deckId, userId);
            }, 2000);
            
            $(document).keydown(function (e) {
                if (e.which == 13) {
                    $(".send").click();
                }
            });

            //On clicking send send off the message to the other person in game
            $(".send").click(function () {
                //Find the textbox for the message
                var chatInput = $(".chat-input").val().trim();

                //Only if there is content to send
                if (chatInput != "") {
                    //Send off the message
                    topTrumpsHub.server.sendMessage(gameId, userId, chatInput);

                    //Remove the previously sent message
                    $(".chat-input").val('');
                }
            });
            
            //The player has chosen to peek
            $(".peek").click(function () {
                //Find out how many peeks are left
                var peeks = $(".peeks");
                var currentPeeks = parseInt(peeks.html().trim());

                //If we have more then zero
                if (currentPeeks != 0) {
                    //Decrement the peeks
                    currentPeeks -= 1;
                    //Set the on screen text
                    peeks.html(currentPeeks);

                    //If there are no more peeks then set the button to be inactive
                    if (currentPeeks == 0) {
                        $(this).addClass("inactive");
                    }

                    //Set off the peek action
                    topTrumpsHub.server.peekOpponentsCard(gameId, userId);
                }
            });
        });
        topTrumpsHub.client.connectionEstablished = function (gameCard, peeks, isPlaying) {
            $(".peeks").html(peeks);

            //The connection has been established so now render the card
            renderCurrentPlayerCard(gameCard, playMoveCallback);

            //If the current player is playing then add a playable class
            setPlayableStatus(isPlaying);

            //If there are no peeks then set the peek button to inactive
            if (peeks == 0) {
                $(".peek").addClass("inactive");
            }
        };
        
        //Invalid game when the game is already underway
        topTrumpsHub.client.invalidGame = function() {
            //Handle an invalid game situation
            invalidGame();
        };

        //Game completed situations
        topTrumpsHub.client.gameWon = function() {
            //Tell the player they have won
            gameWon();
        };
        topTrumpsHub.client.gameLost = function() {
            //Tell the player they have lost
            gameLost();
        };

        //Peeking
        topTrumpsHub.client.peekOpponentsCard = function(opposingPlayerCard) {
            //This player peeked and now we shall show them the card
            showOpponentsCardToUser(opposingPlayerCard);
        };
        topTrumpsHub.client.opponentPeekedCard = function() {
            //This played has just been peeked upon
            setGameStatus("You have just been peeked on! O.o");
        };
        topTrumpsHub.client.noMorePeeks = function() {
            //Tell the player there is no more peeking
            setGameStatus("You have no more peeks");
        };

        //Various functions related to opponent
        topTrumpsHub.client.setOppositionsDetails = function(opposingPlayerName, currentPlayerCardCount, opposingPlayerCardCount) {
            //Call the appropriate method to set the oppositions name
            setOppositionsDetails(opposingPlayerName, currentPlayerCardCount, opposingPlayerCardCount);
        };
        topTrumpsHub.client.showOpponentCardPlayed = function(opponentsCard, chosenCategoryId) {
            //Render the opponents card to show to the current player
            showOpponentsCardToUser(opponentsCard, chosenCategoryId);
        };

        //Handle the various move situations that can occur
        topTrumpsHub.client.moveWon = function(gameCard, currentPlayerCardsCount, opposingPlayerCardsCount) {
            moveWon(gameCard, currentPlayerCardsCount, opposingPlayerCardsCount, playMoveCallback);
        };
        topTrumpsHub.client.moveLost = function(gameCard, currentPlayerCardsCount, opposingPlayerCardsCount) {
            moveLost(gameCard, currentPlayerCardsCount, opposingPlayerCardsCount, playMoveCallback);
        };
        topTrumpsHub.client.moveDraw = function(gameCard, currentPlayerCardsCount, opposingPlayerCardsCount, isPlaying) {
            moveDrawn(gameCard, currentPlayerCardsCount, opposingPlayerCardsCount, isPlaying, playMoveCallback);
        };

        //Player Disconnections/Reconnections
        topTrumpsHub.client.playerDisconnected = function () {
            playerDisconnected(gameWonByDisconnect);
        }
        topTrumpsHub.client.playerReconnected = function (opposingPlayerName) {
            playerReconnected(opposingPlayerName);
        };

        //Chat function
        topTrumpsHub.client.appendMessage = function (username, messageText) {
            appendMessage(username, messageText);
        };

        //Function callbacks
        function playMoveCallback(gameId, userId, cardId, categoryId) {
            topTrumpsHub.server.playMove(gameId, userId, cardId, categoryId);
        }

        function gameWonByDisconnect(gameId, userId) {
            topTrumpsHub.server.gameWonByDisconnect(gameId, userId);
        }
    });
</script>