﻿@model JTT.WebApplication.Models.PrivateGameModel
           
@{
    ViewBag.Title = "Private Game";
}

<div class="private-game">
    <h1>
        Private Game
    </h1>
    <p>
        Send this link to your friends and you can play them!
    </p>
    @Html.TextBox("Link", Model.BitlyUrl, new { @class = "bit-link" })
    
    <div class="play-game">
        Start Game
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $(".play-game").click(function () {
            location.href = $(".bit-link").val();
        });
    });
</script>