﻿@using System.Web.UI.WebControls
@model JTT.WebApplication.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

<div class="login-container">
    <div class="login-form">
        <h1>Login</h1>

        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.HiddenFor(lm => lm.RedirectURL)
            
            @Html.ValidationSummary()
            
            @Html.LabelFor(lm => lm.Username, new { @class = "label" })
            @Html.TextBoxFor(lm => lm.Username, new { @class = "textbox" })
            @Html.LabelFor(lm => lm.Password, new { @class = "label" })
            @Html.PasswordFor(lm => lm.Password, new { @class = "textbox" })
            <input type="submit" value="Log In" class="login-button">
            <p>
                Or alternatively log in as an @Html.ActionLink("Anonymous User", "LoginAsAnonymous", "Login", null, new { @class = "yellow-link" }) user for a quick game
            </p>
        }
        @if (!@Model.LoginSuccess)
        {
            <div class="field-validation-error">Invalid credentials, please try again.</div>
        }
    </div>
</div>