﻿@model List<JTT.WebApplication.Models.Game.TopTrumpsDeck>

@{
    ViewBag.Title = "View Decks";
}

<div class="deckDisplay">
    <div class="deckHeader">
        <h1>Decks</h1>
        @Html.ActionLink("Create New Deck", "Create", "Deck", null, new { @class = "deckHeaderLink" })
    </div>

    @foreach (JTT.WebApplication.Models.Game.TopTrumpsDeck deck in Model)
    {
        <div class="card deckThumb">
            <a href="@Url.Action("View", "Deck", new { id = @deck.Id })">
                <header>

                    <img src="@deck.TopTrumpsCards.First().ImageAddress" width="320" height="320" />

                    <div class="titleContainer">
                        <span class="deckName">@deck.Name</span>
                    </div>
                </header>
            </a>
        </div>
    }
</div>

