﻿@model JTT.WebApplication.Models.DeckModel
@{
    ViewBag.Title = "Create a Deck";
}

<script>
    $(document).ready(function () {
        $("#AddDeckCategory").click(function () {
            $.ajax({
                url: this.href,
                data: { index: deckCategoryIndex() },
                cache: false,
                success: function (partialViewHtml) {
                    $("#deckCategories").append(partialViewHtml);
                    incrementDeckCategoryIndex();
                },
                error: function () {
                    alert("Oh god.\n\nIts happened again.");
                }
            });

            return false;
        });
        function deckCategoryIndex()
        {
            return parseInt($('#hdnDeckCategoryIndex').val());
        }
        function incrementDeckCategoryIndex()
        {
            $('#hdnDeckCategoryIndex').val(deckCategoryIndex() + 1);
        }
        function decrementDeckCategoryIndex() {
            $('#hdnDeckCategoryIndex').val(deckCategoryIndex() - 1);
        }

        $('#pg1-next').click(function () {
            $('#pg1').fadeOut(200, function () {
                $('#pg2').fadeIn(200);
                $('.form-progress-line.step1-line').addClass('complete');
                $('.form-progress-step.step2').addClass('complete');
            });
            return false;
        });

        $('#pg2-back').click(function () {
            $('#pg2').fadeOut(200, function () {
                $('#pg1').fadeIn(200);
                $('.form-progress-line.step1-line').removeClass('complete');
                $('.form-progress-step.step2').removeClass('complete');
            });
            return false;
        });

        $('.step1').click(function () {
            $('#pg2').fadeOut(200, function () {
                $('#pg1').fadeIn(200);
                $('.form-progress-line.step1-line').removeClass('complete');
                $('.form-progress-step.step2').removeClass('complete');
            });
            return false;
        });

        $('.step2').click(function () {
            $('#pg1').fadeOut(200, function () {
                $('#pg2').fadeIn(200);
                $('.form-progress-line.step1-line').addClass('complete');
                $('.form-progress-step.step2').addClass('complete');
            });
            return false;
        });



        $(document).on('click', '.removeDeckCategory', function () {
            var indexToDelete = $(this).closest('.category').attr('data-catindex');

            var tempCatName = '';
            var temptempCatName = '';
            var firstRun = true;

            $($('.category').get().reverse()).each(function () {

                if ($(this).attr('data-catindex') >= indexToDelete) {

                    var input = $(this).find('.category-input');

                    if (firstRun) {
                        tempCatName = input.val();
                        $(this).remove();
                        firstRun = false;
                    } else {
                        temptempCatName = tempCatName;
                        tempCatName = input.val();
                        input.val(temptempCatName);
                    }

                }

            });

            decrementDeckCategoryIndex();
        });
    });
</script>


<style>
    body {
        background: #354458;
        background-color: #354458;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.428;
        color: #2b2828;
    }

    .container {
        width: 90%;
        max-width: 640px;
        margin: 0 auto 60px auto;
    }

    .main {
        background-color: rgba(240, 240, 240, 1);
        -webkit-border-radius: 3x;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
        padding: 5%;
    }

    h1 {
        text-align: center;
        color: white;
        margin: 40px 0 20px 0;
        width: 100%;
        font-size: 36px;
        font-weight: bold;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    h2 {
        margin: 0 0 25px 0;
        width: 100%;
        font-size: 28px;
        font-weight: bold;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #2b2828;
    }

    p {
        color: #2b2828;
        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .form-row {
        margin-bottom: 15px;
    }

    .form-input {
        display: block;
        width: 100%;
        max-width: 400px;
        margin: auto;
        padding: 5px 12px;
        font-size: 1.1em;
        font-size: 1em;
        box-sizing: border-box;
    }

    .form-button {
        border: 0 none;
        -webkit-border-radius: 2x;
        border-radius: 2px 2px 2px 2px;
        cursor: pointer;
        line-height: 20px;
        padding: 8px 12px;
        text-transform: none;
        transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        text-align: center;
    }

    .form-button-main {
        background-color: #3a9ad9;
        color: white;
    }

        .form-button-main:hover {
            background-color: #188fdd;
        }

    .form-button-highlight {
        background-color: #edc740;
        color: white;
    }

        .form-button-highlight:hover {
            background-color: orange;
            color: white;
            text-decoration: none;
        }

        .form-button-highlight:active {
            background-color: #188fdd;
            color: white;
            text-decoration: none;
        }


    .form-button > .fa-right {
        display: inline-block;
        margin: 1px 0 0 3px;
    }

    .form-button > .fa-left {
        display: inline-block;
        margin: 1px 3px 0 0;
    }

    #deckCategories {
        margin: 5% 0 0 0px;
        box-sizing: border-box;
    }

        #deckCategories > .category {
            width: 100%;
            margin: 2% 0px;
            box-sizing: border-box;
        }

            #deckCategories > .category > .category-name {
                width: 68%;
                display: inline-block;
            }

            #deckCategories > .category > .category-checkbox {
                width: 30%;
                display: inline-block;
                text-align: center;
            }

    #AddDeckCategory {
        display: block;
        box-sizing: border-box;
        width: 64.6%;
        max-width: 400px;
        padding: 8px 12px;
        font-size: 1.1em;
        font-size: 1em;
        border: 0 none;
        -webkit-border-radius: 2x;
        border-radius: 2px 2px 2px 2px;
        cursor: pointer;
        line-height: 20px;
        text-transform: none;
        transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        text-align: center;
        background-color: #edc740;
        color: white;
        margin-bottom: 10%;
    }

        #AddDeckCategory:hover {
            background-color: orange;
            text-decoration: none;
        }

    .backPreviousButtons {
        margin: auto;
        text-align: center;
        box-sizing: border-box;
    }

    #pg2-back {
        width: 49%;
        display: inline-block;
        box-sizing: border-box;
        margin: 0 2% 0 0;
    }

    #pg2-next {
        width: 49%;
        display: inline-block;
        box-sizing: border-box;
        margin: 0px;
    }

    #pg2 {
        display: none;
    }

    #fileSelect {
        margin-top: 25px;
    }

    #fileList {
        display: none;
        margin-top: 25px;
    }

    #SaveCards {
        display: none;
        margin-top: 40px;
    }

        #SaveCards > button {
            padding: 20px;
            font-size: 1.5em;
        }

    .form-progress {
        text-align: center;
        margin-bottom: 40px;
    }

    .form-progress-step {
        display: inline-block;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        color: #000000;
        background-color: #f5f5f5;
        padding: 5px 0;
        width: 30px;
        text-align: center;
    }

    .form-progress-line {
        display: inline-block;
        background-color: #f5f5f5;
        width: 10%;
        height: 5px;
        margin: 0px -5px 0px -5px;
    }

    .form-progress-step.complete {
        color: #ffffff;
        background-color: #edc740;
    }

    .form-progress-line.complete {
        background-color: #edc740;
    }

    .cursorHand {
        cursor: pointer;
    }

    .clearFloats {
        clear: both;
    }

    .card {
        float: left;
        width: 28%;
        min-width: 200px;
        height: auto;
        margin: 2%;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

        .card img {
            width: 100%;
        }

    .cardinfo {
        background-color: #edc740;
        width: 100%;
        padding: 3%;
        margin: 0px;
        box-sizing: border-box;
    }

    .cardName {
        width: 97%;
        display: block;
        font-size: 0.7em;
        color: #2b2828;
        font-weight: bold;
    }

    .cardinfo > input {
        width: 97%;
        margin: 3px 0 7px 0;
        padding: 3px 5px;
        box-sizing: border-box;
        text-align: center;
    }

    .category {
        width: 100%;
    }

    .categoryName {
        width: 97%;
        display: block;
        font-size: 0.7em;
        color: #2b2828;
        font-weight: bold;
        margin-top: 3px;
    }

    .categoryValue {
        width: 97%;
        padding: 3px 5px;
        box-sizing: border-box;
        text-align: center;
    }


    .category-input{
        width:95%;
        display:inline-block;
        padding:5px 30px 5px 12px;
    }
    .removeDeckCategory{
        color:red;
        display:inline-block;
        cursor:pointer;
    }
</style>


<div class="container">

    <h1>Create a Deck</h1>

    <div class="form-progress">
        <div class="form-progress-step step1 complete cursorHand">1</div>
        <div class="form-progress-line step1-line"></div>
        <div class="form-progress-step step2 cursorHand">2</div>
        <div class="form-progress-line step2-line"></div>
        <div class="form-progress-step step3">3</div>
        <div class="clearFloats"></div>
    </div>


    <main role="main" class="main">
        @using (Html.BeginForm("CreateDeck", "Deck", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div id="pg1">
                <h2>Step 1: Name Your Deck</h2>
                <div class="pg1_main">
                    <div class="form-row">
                        <input type="text" class="form-input" name="deckName" id="deckName" placeholder="Deck Name" />
                    </div>
                    <div class="form-row">
                        <button id="pg1-next" class="form-input form-button form-button-main">
                            Next <i class="fa fa-arrow-right fa-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div id="pg2">
                <h2>Step 2: Category Setup</h2>
                <p>Each deck must have at least four categories in order to play. For example, a car-themed deck might have a categories for engine size, top speed, acceleration and price.</p>
                <p>You will also need to select whether a higher number or a lower number is considered to be better for each category. For example if the category was a car's 0-60mph acceleration time, then lower numbers will beat higher numbers.</p>
                <div id="deckCategories">
                    <input id="hdnDeckCategoryIndex" type="hidden" value="@Model.DeckCategories.Count()" />
                    @foreach (var category in Model.DeckCategories)
                    {
                        Html.RenderPartial("PartialViews/_DeckCategoryPartial", category);
                    }
                </div>

                <a id="AddDeckCategory" href="@Url.Action("AddDeckCategory")">
                    Add Another Category <i class="fa fa-plus fa-right"></i>
                </a>

                <div class="form-row backPreviousButtons">
                    <button id="pg2-back" class="form-input form-button form-button-main">
                        <i class="fa fa-arrow-left fa-left"></i> Back
                    </button><button id="pg2-next" type="submit" class="form-input form-button form-button-main">
                        Next <i class="fa fa-arrow-right fa-right"></i>
                    </button>
                </div>
            </div>
        }

    </main>

</div>