﻿@model List<JTT.Domain.DTO.Deck>

@{
    ViewBag.Title = "Deck Select";
}

<div class="center-container">
    <h1>Choose your Deck...</h1>

    @Html.DropDownList("Deck", new List<SelectListItem>(@Model.Select(d => new SelectListItem
        { Text = d.Name, Value = d.Id.ToString() })), new { @id = "Decks", @class = "dropdown" })

    <a class="deck-select matchmake">
        Matchmake Me
    </a>
    <a class="deck-select private">
        Start Private Match
    </a>
</div>

<script type="text/javascript">
    var seekMatchUrl = '@Url.Action("SeekMatch", "Matchmaking")';
    var privateMatchUrl = '@Url.Action("PrivateGame", "Game")';

    $(function () {
        $(".deck-select").click(function () {
            var selectedItem = $("#Decks option:selected");

            window.location = seekMatchUrl + "/" + selectedItem.val();
        });

        $(".private").click(function () {
            var selectedItem = $("#Decks option:selected");

            window.location = privateMatchUrl + "?deckId=" + selectedItem.val();
        });
    });
</script>