﻿@model JTT.WebApplication.Models.Game.TopTrumpsDeck

@{
    ViewBag.Title = "Create Cards";
}

<div class="deckDisplay">
    <div class="deckHeader">
        <h1>@Model.Name</h1>
        @Html.ActionLink("< Back to All Decks", "All", "Deck", null, new { @class = "deckHeaderLink" })
    </div>

    <div class="deckCards">
        @foreach (JTT.WebApplication.Models.Game.TopTrumpsCard card in Model.TopTrumpsCards)
        {
            <div class="card face">

                <header>

                    <img src="@card.ImageAddress" width="320" height="320" />

                    <div class="titleContainer">
                        <span class="title">@card.Name</span>
                    </div>
                    <div class="slantedBlock"></div>

                </header>

                <div class="categories">

                    <table class="selectable">

                        <tbody>
                            @foreach (JTT.WebApplication.Models.Game.TopTrumpsCategory category in @card.TopTrumpsCategories)
                            {
                                <tr class="card-category">
                                    <th>@category.Name</th>
                                    <th>@category.Value</th>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>

                <footer>
                    &copy; Joel Top Trumps - @DateTime.Now.Year
                </footer>

            </div>

        }
    </div>

</div>