﻿@using System.Linq
@model JTT.WebApplication.Models.LeaderboardModel

@{
    ViewBag.Title = "Leaderboard";
}

<div class="max-width-container">
    <h1>Leaderboard</h1>
    
    <div class="search-container">
        <h3>Search</h3>
        @Html.TextBox("Search", null, new { @class = "search" })
    </div>
    
    <div class="loader">
        Loading...
    </div>

    <div class="leaderboard">
        @Html.Partial("_SearchableLeaderboard", Model)
    </div>
</div>

<script type="text/javascript">
    //A time which waits 'x' amount of time before results are shown to allow typing to finish
    var UsernameTypingTimer;

    //How long to wait before the user is done typing
    var doneTypingInterval = 1500;

    var results = $(".leaderboard");

    var loadingIcon = $(".loader");

    $('.search').keydown(function () {
        //Clear the timeout and create a new one
        clearTimeout(UsernameTypingTimer);
        UsernameTypingTimer = setTimeout(phraseDoneTyping, doneTypingInterval);

        //Fade out the results and fade in the loading icon
        results.fadeOut(250, function () {
            loadingIcon.fadeIn(500);
        });
    });

    //User has "finished typing" so show some results
    function phraseDoneTyping() {
        //Get the search text entered
        var searchValue = $(".search").val();

        //Carry out the search action
        $.ajax({
            type: "POST",
            url: "/Leaderboard/SearchUsers",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({
                searchText: searchValue,
            }),

            success: function (data) {
                //If the data is empty then write no results
                if (data == "") {
                    data = "No Users Found";
                }

                results.fadeOut(250, function () {
                    loadingIcon.fadeOut(500, function () {
                        //Fade in the data
                        results.html(data);
                        results.fadeIn(500);

                        //Bind the challenge events
                        bindEvents();
                    });
                });
            }
        });
    }
</script>