﻿@{
    ViewBag.Title = "Home Page";
}

<div class="homepage-container">
    <h1>Joel Top Trumps</h1>
    <p class="lead">
        A wonderful way to get know Joel a little better ;)
    </p>
    
    <img class="homepage-image" src="@Url.Content("~/Content/Images/homepage-image.jpg")"/>

    <div class="row">
        <div class="col">
            <h2>What can it do for you?</h2>
            <p>
                Joel Top Trumps can revolutionise your life and give you a deep and personal insight into Joel. You will gain
                knowledge and understanding about the man, the legend that is Joel.
            </p>
        </div>
        <div class="col">
            <h2>How does it do that?</h2>
            <p>
                With Joels complete consent and blessing we have created a game with pictures of Joel so that we can show off
                his pearly whites and his many emotions that he is sometimes too scared to let out.
            </p>
        </div>
        <div class="col">
            <h2>Why?</h2>
            <p>
                We think that the whole world know about Joel.
            </p>
        </div>
    </div>
</div>