﻿@using JTT.WebApplication.Utilities
@model JTT.WebApplication.Models.Matchmaking.SeekMatchModel

@{
    ViewBag.Title = "Matchmaking";
}

<div class="matchmaking">
    <div class="matchMakingStatus">
        Looking for a game
    </div>
    <div class="timeout">
        No players found, click <a class="yellow-link" onclick="return window.location.href = window.location.href">here</a> to try again
        @if (Model.DeckId.HasValue)
        {
            <span>or click <a class ="yellow-link" onclick="return window.location.href='@Url.Action("SeekMatch", "Matchmaking", new { id = "" })' ">here</a> to play with any deck</span>
        }
    </div>

    <div id="loading_hype_container" style="position:relative; overflow:hidden; width:600px; height:240px; margin:20px auto;"></div>

    @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "cancelButton" })
</div>

@section scripts {
    @Scripts.Render(BundleConfig.HypeScriptBundle)
    @Scripts.Render(BundleConfig.HypeGeneratedScriptBundle)
}

<script type="text/javascript">
    var userId = "@TopTrumpsProvider.GetLoggedInUserId()";
    var timeout = true;

    $(function () {
        var matchmakingHub = $.connection.matchmakingHub;
        var playGameUrl = '@Url.Action("Play", "Game")';

        setTimeout(function () {
            var matchMakingStatus = $(".matchMakingStatus");
            //If the player hasn't been matched then we want to show the user that their matchmaking session has expired
            if (timeout) {
                //Fade out the looking for game and afterwards fade in the timeout message
                matchMakingStatus.fadeOut(1000, function () {
                    var timeoutContainer = $(".timeout");
                    matchMakingStatus.html(timeoutContainer).fadeIn(1000);
                });
            }
        }, 30000);

        matchmakingHub.client.startMatch = function (gameId, deckId) {
            //If a match has been found the corresponding gameId will be sent back

            //Get the looking container so that we can carry out actions upon it
            var lookingContainer = $(".matchMakingStatus");

            //Fade out the container so we can change aspects about it
            lookingContainer.fadeOut(1000, function () {
                //Change the text of the container then fade it back in
                lookingContainer.html("Game found, starting...");
                lookingContainer.fadeIn(1000);

                //After 3 seconds redirect the page to the game
                setTimeout(function () {
                    window.location = playGameUrl + '/' + gameId + "?deckId=" + deckId;
                }, 3000);
            });
        };

        $.connection.hub.start().done(function () {
            //Output that the matchmaking has established
            console.log("Starting Matchmaking");

            @{
                var deckId = @Model.DeckId.HasValue ? @Model.DeckId.Value.ToString() : null;
            }

            //Wait 2 seconds before trying to matchmake the player
            setTimeout(function () {
                matchmakingHub.server.establishWaitingPlayer(userId, '@deckId');
            }, 2000);
        });
    });
</script>
