﻿@model JTT.WebApplication.Models.Game.TopTrumpsCard
    
<header>
    <img src="@Model.ImageAddress"/>
    <div class="titleContainer">
        <span class="title">@Model.Name</span>
    </div>
    <div class="slantedBlock"></div>
</header>

<div class="categories">
    <table class="selectable">
        @foreach (var item in Model.TopTrumpsCategories.OrderBy(c => c.Name))
        {
            <tr class="card-category" data-card-id="@Model.CardId" data-category-id="@item.CategoryId">
                <th>@item.Name</th>
                <th>@item.Value</th>
            </tr>
        }
    </table>
</div>

<footer>
    @*Your card*@
    &copy; Joel Top Trumps - @DateTime.Now.Year
</footer>