﻿@using JTT.WebApplication.Utilities
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>@ViewBag.Title - Joel Top Trumps</title>

        @Styles.Render(BundleConfig.CssStylesBundle)
        @Scripts.Render(BundleConfig.JqueryScriptBundle)
        @Scripts.Render(BundleConfig.ModernizrScriptBundle)
        @Scripts.Render(BundleConfig.JqueryValidateScriptBundle)
        
        <link rel="icon" href="@Url.Content("~/Content/Images/favicon.ico")">
    </head>
<body>
    <div class="header-container">
        <a href="@Url.Action("Index", "Home")">
            <img src="@Url.Content("~/Content/Images/joel.gif")" />
        </a>
        <ul class="navigation">
            <li>@Html.ActionLink("Matchmake", "Index", "Deck")</li>
            <li>@Html.ActionLink("Leaderboard", "Index", "Leaderboard")</li>
            <li>@Html.ActionLink("Decks", "All", "Deck")</li>
        </ul>

        <div class="user-status">
            @if (TopTrumpsProvider.GetLoggedinUser() != null)
            {
                <span>Hello @TopTrumpsProvider.GetLoggedinUser().Username!</span>
                @Html.ActionLink("Sign out", "Logout", "Login", null, new { @class = "yellow-link" })
            }
            else
            {
                <span>@Html.ActionLink("Log in", "Index", "Login", null, new { @class = "yellow-link" })</span>
            }
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render(BundleConfig.SignalRScriptBundle)

    @RenderSection("scripts", required: false)
    <script src="~/signalr/hubs"></script>
</body>

</html>
