﻿@using JTT.WebApplication.Utilities
@model JTT.WebApplication.Models.LeaderboardModel
    
@if (Model.LeaderboardPlayers.Any())
{
    <table class="leaderboard">
        <tr>
            <th>Position</th>
            <th>Username</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Average Playtime</th>
            <th>Total Playtime</th>
            @if (TopTrumpsProvider.IsUserCurrentlyLoggedIn() && !TopTrumpsProvider.IsUserAnonymous())
            {
                <th>Action</th>
            }
        </tr>
        @foreach (var leaderboardPlayer in @Model.LeaderboardPlayers.Select((item, index) => new { Item = item, Index = index }))
        {
            <tr>
                <td>@leaderboardPlayer.Item.Position</td>
                <td>@leaderboardPlayer.Item.Username</td>
                <td>@leaderboardPlayer.Item.Wins</td>
                <td>@leaderboardPlayer.Item.Losses</td>
                <td>@leaderboardPlayer.Item.AverageGameDuration.ToString("h'h 'm'm 's's'")</td>
                <td>@leaderboardPlayer.Item.TotalGameTime.ToString("h'h 'm'm 's's'")</td>
                @if (TopTrumpsProvider.IsUserCurrentlyLoggedIn() && TopTrumpsProvider.GetLoggedInUserId() != leaderboardPlayer.Item.UserId && !TopTrumpsProvider.IsUserAnonymous())
                {
                    <td>
                        <a href="#" class="challenge">Challenge?</a>
                        <div class="challenge-container">
                            @Html.DropDownList("Deck", new List<SelectListItem>(@Model.Decks.Select(d =>
                                    new SelectListItem { Text = d.Name, Value = d.Id.ToString() })),
                                    new { @id = "Decks", @class = "dropdown" })

                            <a href="#" class="submit" data-userid="@leaderboardPlayer.Item.UserId" onclick="return confirm('Challenge this player?');">Go!</a>
                        </div>
                    </td>
                }
                else if (TopTrumpsProvider.IsUserCurrentlyLoggedIn() && TopTrumpsProvider.GetLoggedInUserId() == leaderboardPlayer.Item.UserId)
                {
                    <td>
                        @Html.Raw("N/A")
                    </td>
                }
            </tr>
        }
    </table>
}
else
{
    Html.Raw("No players at the moment");
}

<script type="text/javascript">
    $(function () {
        bindEvents();
    });

    function bindEvents() {
        //On clicking challenge
        $(".challenge").click(function () {
            $(this).fadeOut(500, function () {
                $(this).parent().find('.challenge-container').fadeIn(500);
            });
        });

        //On clicking submit send off a message to a user about their challenge
        $(".submit").click(function () {
            var submit = $(this);
            var dropdown = submit.parent().find(".dropdown");
            var selectedDeckId = dropdown.find(":selected").val();
            var selectedUserId = submit.data("userid");

            //Perform a request to make a challenge
            $.ajax({
                url: "/Leaderboard/Challenge",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ deckId: selectedDeckId, userId: selectedUserId }),
                success: function (bitlyLink) {
                    if (bitlyLink != "") {
                        location.href = bitlyLink;
                    }
                    else {
                        submit.parent().parent().html("Not sent");
                    }
                }
            });
        });
    }
</script>