﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
}

<div class="max-width-container error">
    <h1>An error has occurred</h1>
    <p>
        <marquee>Joel has starting eating his potato and has got confused. Please come back later when he's finished it.</marquee>
    </p>
    
    <img class="error-joel" src="@Url.Content("~/Content/Images/errorJoel.png")" />
</div>
