﻿@model JTT.WebApplication.Models.DeckCategoryModel

<div class="category" data-catindex="@Model.Index">
    <input name="DeckCategories[@Model.Index].Index" type="hidden" value="@Model.Index" />
    <div class="category-name">
        <input name="DeckCategories[@Model.Index].CategoryName" class="form-input category-input" type="text" value="@Model.CategoryName" placeholder="Category @(Model.Index+1)" />
    </div>
    <div class="category-checkbox">
        @if (@Model.Index > 3)
        {
            <i class="fa fa-minus-square removeDeckCategory"></i>
        }
        <label>
            <input type="checkbox"> Lowest Wins
        </label>
    </div>
</div>